@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'chocolate';
    src:url('Chocolate Covered Raindrops.ttf'),
        url('Chocolate Covered Raindrops BOLD.ttf'),
        url('Chocolate Covered Raindrops Hollow.ttf');
    font-weight: normal;
    font-style: normal;
}

body { 
    font-family: 'chocolate';
    letter-spacing: 0.1em;
}

.custom-shape-divider-bottom-1683609033 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683609033 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 245px;
}

.custom-shape-divider-bottom-1683609033 .shape-fill {
    fill: #E6E6E6;
}